{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block meta %} {% endblock meta %}
  </head>

  <body>
    <header>
      <h1>Welcome to My E-commerce Site</h1>
    </header>
    
    {% block content %} 
    {% endblock content %}

    <footer>
      <p>&copy; 2024 My Application. All rights reserved.</p>
    </footer>
  </body>
</html>

